<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589669843505-v49ka7bsfgk8jb68uo5s6patat4qquot.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589669843505-v49ka7bsfgk8jb68uo5s6patat4qquot</string>
	<key>API_KEY</key>
	<string>AIzaSyBBIT17uTAAC9mWY4c2vW48dfoTTZNb-mY</string>
	<key>GCM_SENDER_ID</key>
	<string>589669843505</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ssp.Elevate</string>
	<key>PROJECT_ID</key>
	<string>elevate-hair-salon</string>
	<key>STORAGE_BUCKET</key>
	<string>elevate-hair-salon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589669843505:ios:943889085358d08c96cb10</string>
	<key>DATABASE_URL</key>
	<string>https://elevate-hair-salon-default-rtdb.firebaseio.com</string>
</dict>
</plist>